# ========================
# DATABASE
# ========================
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/DB_NAME?schema=public"

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_NAME=auth_service_api

# ========================
# SERVER
# ========================
PORT=3001
NODE_ENV=development

# ========================
# AUTH / JWT
# ========================
JWT_SECRET=your_super_random_secret

# ========================
# BCRYPT
# ========================
BCRYPT_SALT_ROUNDS=10

# ========================
# REDIS
# ========================
REDIS_URL=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_TTL_DAYS=30

# ========================
# TOKEN CONFIG
# ========================
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=30
BLACKLISTED_ACCESS_TOKEN_TTL_HOURS=24
BLACKLISTED_REFRESH_TOKEN_TTL_DAYS=30
RESET_PASSWORD_TOKEN_TTL_HOURS=1
MAX_SESSIONS_PER_USER=5
REFRESH_TOKEN_LENGTH=64

# ========================
# EMAIL (SMTP)
# ========================
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_FROM_EMAIL=your-email@gmail.com
SMTP_FROM_NAME=Auth Service

# ========================
# RATE LIMIT
# ========================
LOGIN_REGISTER_RATE_LIMIT_MAX=10
OTHER_RATE_LIMIT_MAX=100

# ========================
# OAUTH GOOGLE
# ========================
GOOGLE_CLIENT_ID=your-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-client-secret
GOOGLE_CALLBACK_URL=http://localhost:3001/api/auth/google/callback
